
{% extends 'base.html' %}
{% block start %}
    <h1>This is Django Project 1</h1>
    <p>
        <ul>
            <li><b>Login + Logout +Signup</b></li>
            <li><b>Authentication</b></li>
            <li><b>Sqlite </b></li>
            <li><b> Django messages</b></li>
            <li><b>DRY model</b></li>
            <li><b>Ginga templating</b></li>
            <li><b>CRUD oprations </b></li>
            <li><b> Made by- Pranjal Singh</b></li>
        </ul>
    </p>
    
{% endblock %}